@font-face {
	src: url("../fonts/Lato-Regular.ttf");
	font-family: 'Lato';
	font-weight: normal;
	font-style: normal;
}
@font-face {
	src: url("../fonts/Lato-Black.ttf");
	font-family: 'Lato Black';
	font-weight: 600;
	font-style: normal;
}
@font-face {
	src: url("../fonts/Lato-Thin.ttf");
	font-family: 'Lato Thin';
	font-weight: normal;
	font-style: normal;
}
@font-face {
	src: url("../fonts/Lato-Heavy.ttf");
	font-family: 'Lato Heavy';
	font-weight: normal;
	font-style: normal;
}
@font-face {
	src: url("../fonts/Lato-Bold.ttf");
	font-family: 'Lato';
	font-weight: bold;
	font-style: normal;
}
@font-face {
	src: url("../fonts/Lato-Light.ttf");
	font-family: 'Lato Light';
	font-weight: normal;
	font-style: normal;
}
@font-face {
	src: url("../fonts/Lato-Medium.ttf");
	font-family: 'Lato Medium';
	font-weight: normal;
	font-style: normal;
}
@font-face {
	src: url("../fonts/Lato-Semibold.ttf");
	font-family: 'Lato Semibold';
	font-weight: bold;
	font-style: normal;
}
@font-face {
	src: url("../fonts/Montserrat-UltraLight.ttf");
	font-family: 'Montserrat-UltraLight';
	font-weight: normal;
	font-style: normal;
}

/*body{
	width: 1600px;
	margin: 0 auto;
}*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
header{
	background: url("../images/header-bg.png");
}
table{
	border-collapse: collapse;
	border:1px solid gray;
}
.header-inner{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #2e2e30;
}
.wrapper{
	width: 1198px;
	margin: 0 auto;
}
.logo{
	margin-top:7px;
}
.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	font-family: "Lato Medium";
	font-size: 16px;
	width: 635px;
}
.menu li a{
	color: #fff;
}
.menu li{
	position: relative;
	padding: 35px 0;
}
.menu li.active:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #fff;
	bottom: 0;
	left:0;
}
.greeting{
	padding: 300px 0 345px;
	color: #fff;
	text-align: center;
}
.greeting h2{
	font-family: "Lato";
	font-weight: bold;
	font-size: 98px;
	letter-spacing: -1.2px;
	font-variant: all-petite-caps;
}
.greeting p{
	font-family: 'Georgia';
	margin-top: 5px;
	font-style: italic;
	font-size: 32px;
	line-height: 1.3;
}
.navigation {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	color: #fff;
	font-family: "Lato";
	font-weight: bold;
	font-size: 30px;
	font-variant: all-petite-caps;
}
.nav-button{
	width: 50%;
	padding: 37px 0 47px;
	text-align: center;
}
.login{
	background-color: #21424a;
	position: relative;
	padding-left: 208px;
}

.register{
	background-color: #2fac6c;
	position: relative;
	padding-right: 198px;
}

.login::after,
.register::after{
	content: '';
	position: absolute;
	right: 4px;
	bottom: 0px;
	height: 100%;
	width: 60px;
	z-index: 5;
	background-color: #21424a;
	transform: skew(-13deg);
}
.register::after{
	background-color: #2fac6c;
	transform: skew(13deg);
	right: 0;
	left: -31px;
	z-index: 2;
}

.buy-domain{
	padding: 85px 0 90px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.buy-domain h3{
	font-family: 'Lato Heavy';
	font-size: 24px;
}
.buy-domain p{
	font-family: "Montserrat-UltraLight";
	font-size: 16px;
	margin: 22px 0 48px;
}
.buy-domain_table{
	font-family: 'Lato';
	font-size: 14px;
	color: #cbcbcb;
	border: 1px solid #d9d9d9;
	margin: 40px auto 0;
}
.buy-domain_table tr th,
.buy-domain_table tr td{
	border: 1px solid #d9d9d9;
	position: relative;
	width: 222px;
	height: 97px;
}


.tariffs{
	background: url(../images/packages.png) no-repeat;
	background-size: 100% 380px;
	padding: 100px 0;
}
.form-search-adress{
	display: flex;
	justify-content:  center;
	font-family: 'Lato';
}
.searching-form{
	-webkit-appearance: none;
	outline: 0;
	border: 1px solid #d9d9d9;
	width: 801px;
	display: block;
	font-family: 'Lato';
	color: #868686;
	font-weight: bold;
	font-size: 15px;
	padding: 15px 0;
	padding-left: 86px;
	position: relative;
	border-right: 0;
}
.searching-form + label{
	position: relative;
}
.searching-form + label::before{
	content: 'www.';
	position: absolute;
	left: -809px;
	top: 10px;
	width: 71px;
	padding-top: 4px;
	padding-left: 8px;
	height: 30px;
	color: #cbcbcb;
	z-index: 10;
	border-right: 1px solid #cbcbcb;
}
.searching-form + label::after{
	content: '';
	position: absolute;
	width: 20px;
	height: 100%;
	right: -75px;
	top: 0;
	background: url(../images/fa-angle-down.png) no-repeat center;
	z-index: 15;
}
#adress{
	width: 87px;
	border-right: 1px solid #d9d9d9;
	color: #cbcbcb;
	padding: 0;
	padding-left: 17px;
	border-left: 1px ridge;
}

.searching-form.active + label::after{
	content: '';
	position: absolute;
	width: 20px;
	height: 100%;
	right: -75px;
	top: 0;
	background: url(../images/fa-angle-down.png) no-repeat center;
	z-index: 15;
	transform: rotate(-180deg);
}
.packages{
	display: flex;
	justify-content: space-between;
}
.package{
	background-color: #fff;
	width: 255px;
	display: flex;
	flex-direction: column;
	font-family: 'Lato Light';
	padding: 37px 27px 26px;
	box-shadow: 2px 2px 10px #80808061;
	border-top: 4px solid;
}
.package h4{
	text-align: center;
	font-variant: all-petite-caps;
	color: #282828;
	font-family: 'Lato';
	font-weight: bold;
	font-size: 23px;
	margin-bottom: 16px;
}
.package table{
	border: none;
	border-top: 1px solid #dfdfdf;
	color: #dfdfdf;
}
.package table tr td{
	padding: 15px 0 4px;
}
.package table td:last-child{
	text-align: right;
}
.yellow {
	color: #f9d423;
	border-color: #f9d423;
}
.dark{
	color: #7f8c8d;
	border-color: #7f8c8d;
}
.red{
	color: #f85f40;
	border-color: #f85f40;
}
.green{
	color: #1abc9c;
	border-color: #1abc9c;
}
.rounded-shape{
	width: 54px;
	height: 54px;
	align-self: center;
	text-align: center;
	line-height: 2.3;
	font-size: 17px;
	border-radius: 50%;
	border: 6px solid;
	margin-bottom: 9px;
}
.package table .price td,
.package table .select td{
	text-align: center;
}
.package table .last{
	padding-bottom: 20px;
}
.package table .price td{
	padding-top: 26px;
	font-family: 'Lato';
	font-weight: bold;
	font-size: 27px;
	color: #2c2c2c;
}
.package table .price td small{
	font-size: 18px;
	font-family: 'Lato Heavy';
	vertical-align: top;
	top: 5px;
	position: relative;
	left: -2px;
}
.package table .price td span{
	font-weight: normal;
	font-size: 12px;
	color: #9f9f9f;
}
.package table .price{
	border-top: 1px solid #dfdfdf;
}
.package table .select{
	border-top: 4px solid;
}
.package table .select td{
	color: #282828;
	padding-top: 8px;
	width: 105px;
	font-variant-caps: all-petite-caps;
	font-size: 23px;
	font-family: 'Lato';
	font-weight: bold;
}
.about-us{
	display: flex;
	border-top: 1px dashed #d5d5d5;
	padding: 98px 0 101px;
}
.about-us .left-block{
	width:520px;
	padding-right: 95px;
	font-family:'Lato Thin';
	font-size: 18px;
	color: #969696;
}
.about-us .left-block p{
	line-height: 1.5;
}
.about-us .left-block h4{
	color: #303030;
	font-family: 'Lato Semibold';
	font-size:35px;
	margin-bottom: 22px;
}
.about-us .left-block h4 b{
	font-family: 'Lato';
	font-weight:bold;
}
.about-us .right-block{
	display: flex;
	width: 683px;
	justify-content: space-between;
	padding: 10px 20px 0 103px;
	border-left: 1px dashed #d5d5d5;
}
.worker{
	width: 100px;
	color: #303030;
	font-size: 15px;
	text-align: center;
	font-family: 'Lato';
}
.worker:last-child{
	width: 115px;
	margin-right: -8px;
}
.worker-photo{
	width: 98px;
	height: 98px;
	border: 4px solid gray;
	border-radius: 50%;
	background: url(../images/designer-1.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}
.worker-photo._2{
	background: url("../images/designer-2.png");
	-webkit-background-size: 100%;
	background-size: 100%;
}
.worker-photo._3{
	background: url("../images/designer-3.png");
	-webkit-background-size: 100%;
	background-size: 100%;
}

.worker .name{
	margin-top: 14px;
	padding: 0 0px;
	font-weight: bold;
	font-size: 17px;
}
.worker .position{
	color: #8e8e8e;
	margin-top: 4px;
}
.worker .social{
	color: #bfbfbf;
	cursor: pointer;
	width: 92px;
	display: flex;
	justify-content: space-between;
	margin: 11px auto 0;
}
.worker .social a{
	color: #bfbfbf;

}
.fa-link:hover{
	color: #1f89ba;
}
.fa-twitter:hover{
	color: #41ABE1;
}
.fa-facebook-f:hover{
	color: #2E458B;
}
.quotes{
	background: url("../images/quotes.png");
	padding: 49px 0 50px;
}
blockquote{
	padding: 0 350px;
	margin: 0 auto;
	color: #fff;
	font-family: 'Lato Light';
	text-align: center;
	font-size: 20px;
	line-height: 1.4;
}
.author{
	display: flex;
	justify-content: center;
	margin-top: 19px;
	align-items: center;
}
.author p{
	position: relative;
	padding: 0 27px 0 6px;
	font-family: 'Lato';
	font-weight: bold;
	font-size: 20px;
	line-height: 0.9;
}
.author p::after{
	content: '';
	position: absolute;
	right: 12.5px;
	top:0;
	width: 1px;
	height: 100%;
	background-color: #fff;
}
.author i{
	font-size: 8px;
	padding: 0 6px;
	cursor: pointer;
}
.author i:nth-child(2){
	padding-left: 0;
}
.profits-block{
	padding: 100px 0 97px;
}
.profits{
	display: flex;
	flex-direction:row;
	justify-content: space-between;
}
.profit{
	width: 225px;
	text-align: center;
	font-size: 18px;
}
.profit h4{
	font-family:'Lato Heavy';
	color: #303030;
	margin-bottom: 5px;
}
.profit p{
	color: #898989;
	font-family: 'Lato Light';
	font-size:16px;
}
.prof-img{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin: 0 auto 18px;
	color: #fff;
	font-size: 26px;
	line-height: 2.3;
}
.flash{
	background-color: #f1c40f;
}
.cloud{
	background-color: #0faff1;
}
.alt{
	background-color: #95a5a6;
}
.chat{
	background-color: #f1540f;
}
footer{
	background-color: #2a2a2a;
	padding-bottom:50px;
}
.footer-inner{
	display: flex;
	padding: 0;
	justify-content: space-between;
	border-bottom: 1px solid #4a4a4a;
}
.footer-inner .logo{
	height: 24px;
	opacity: 0.5;
	margin: 26px 0 23px;
}
footer .menu{
	width: 430px;
}
footer .menu li{
	position: relative;
	padding: 27px 0;
	font-variant: all-petite-caps;
	font-size: 18px;
}
footer .menu li.active:after{
	width:0;
}
footer .menu li a{
	color: #686868;
}
footer .menu li.active a{
	color: #fff;
}
.footer-navigation,
.topic-col ul li a{
	color: #616161;
	font-family:'Lato Light';
	font-size:15px;
}
.footer-navigation{
	display: flex;
	padding-top: 27px;
}
.footer-navigation .main{
	width: 378px;
	margin-top: 27px;
	padding-right: 84px;
	border-right: 1px solid #393939;
	line-height: 1.5;
}
.topics{
	display: flex;
	justify-content: space-between;
	border-right: 1px solid #393939;
	line-height: 1.8;
}
.rights{
	margin-top: 24px;
}
.topic-col ul li.active a{
	color: #fff;
}
.topic-col {
	margin: 26px 89px 0 107px;
}
.topic-col:last-child{
	margin-left: -20px;
	margin-right: 110px;
}
.contact-info{
	padding-left: 83px;
	padding-top: 28px;
	font-size: 14px;

}
.contact-phone,
.mail{
	display: flex;
}
.contact-phone i,
.mail i{
	margin-right: 13px;
	margin-bottom: 16px
}
.adress p:first-child{
	margin-bottom: 12px
}